<div class="form-holder">
    <form>
        <h3>Update system <span class="refName">{{systemName}}</span> for xref processing</h3>
        <label for="sysName">Name:</label>
        <input id="sysName" autocomplete="off" type="text" class="form-control"
            name="sysName" value= "{{systemName}}" placeholder="please enter system name" title="This field is read-only. You cannot edit system name." readonly>
        <label for="sysPath">Path:</label>
        <input id="sysPath" autocomplete="off" type="text" class="form-control"
            name="sysPath" value= "{{localSourcePath}}" placeholder="please enter system source path">
        <label for="sysPropath">Propath:</label>
        <input id="sysPropath" autocomplete="off" type="text" class="form-control"
            name="sysPropath" value= "{{systemPropath}}" placeholder="please enter system propath">
        <label for="sysLocation">System Location:</label>
        <input id="sysLocation" autocomplete="off" type="text" class="form-control"
            name="sysLocation" value= "{{systemLocation}}" placeholder="please enter system location">
        <label for="dbPar">Database .df and .st path:</label>
        <input id="dbPar" autocomplete="off" type="text" class="form-control"
            name="dbPar" value="{{systemDBparameters}}" placeholder="please enter system database parameters">
        <label for="entryPoint">Entry points:</label>
        <input id="entryPoint" autocomplete="off" type="text" class="form-control"
            name="entryPoint" placeholder="please enter up to 100 entry points, separate by commas">
        
        <small id="prevEntryPoints" class="form-text text-muted">
        <strong>EntryPoints in database:</strong> {{entryPoints}}
        </small>  

        <input type="hidden" name="updSystem" value="add">

        <input type="hidden" name="oldName" value= {{systemName}}>
        <div class="button-holder d-flex justify-content-between">
            <input class="btn btn-dark" id="upd" type="submit" value="Update">
            <button type="button" class="btn btnDelete" data-toggle="modal"
                data-target="#deleteModal" value="">Delete</button>
        </div>
    </form>
    
    <!-- Modal of delete confirmation -->

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="delModalLabel">Delete system {{systemName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Delete system {{systemName}} and all it's data from Felix?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="">
                    <button type="submit" class="btn btnDelete" id="btnDelete" data-dismiss="modal" onclick="">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>  