<div class="form-holder">
    {{#response.dsSystem.dsSystem.ttSystem}}
        <h3>Update system <span class="refName">{{systemName}}</span> for xref processing</h3>
        <div class="alert alert-warning" style="background-color:rgb(239, 246, 248);">
            <div class="row">
                <span class="col-3">
                    <img class="notifications" src="notif-bell.png">
                    <b>ATTENTION!</b>
                </span>
                <div class="col-9">Colon ":" is used as propath delimiter, - other fields use comma ",". If you use different symbol as delimiter, it will be automatically replaced before writing data to Felix database.</div>
            </div>
        </div>
        <label for="sysName">Name:</label>
        <input id="sysName" type="text" class="form-control"
            name="sysName" value= "{{systemName}}" title="This field is read-only. You cannot edit system name." readonly>
        <label for="sysPath">Path:</label>
        <textarea id="sysPath" type="text" class="form-control"
            name="sysPath" placeholder="Please enter system source path, e.g. SYSTEMFOLDER/trunk" maxlength="500">{{localSourcePath}}</textarea>
        <label for="sysPropath">Propath:</label>
        <textarea id="sysPropath" type="text" class="form-control"
            name="sysPropath" placeholder="Please enter system propath, e.g. SYSTEMFOLDER/trunk/structures:SYSTEMFOLDER/trunk/integration" maxlength="500">{{{systemPropath}}}</textarea>
        <label for="dbPar">Database .df and .st path:</label>
        <textarea id="dbPar" type="text" class="form-control"
            name="dbPar" placeholder="Please enter system database parameters, e.g. SYSTEMFOLDER/trunk/structures" maxlength="500">{{systemDBparameters}}</textarea>
        <label for="entryPoint">Entry points:</label>
        <textarea id="entryPoint" type="text" class="form-control"
            name="entryPoint" placeholder="Please enter up to 100 entry points" maxlength="500">{{entryPoints}}</textarea>        
        <small id="note" class="form-text text-muted">
        <strong>Note! You can enter up to 100 entry points and they have to be separated by commas.</strong>
        </small>  

        <input type="hidden" name="updSystem" value="add">

        <input type="hidden" name="oldName" value= {{systemName}}>
        <div class="button-holder d-flex justify-content-between">
            <input class="btn" id="upd" type="submit" value="Update">
            <button type="button" class="btn btnDelete" data-toggle="modal"
                data-target="#deleteModal" value="">Delete</button>
        </div>
    
    <!-- Modal of delete confirmation -->

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="delModalLabel">Delete system {{systemName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Delete system {{systemName}} and all it's data from Felix?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="">
                    <button type="submit" class="btn btnDelete" id="btnDelete" data-dismiss="modal" onclick="">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{/response.dsSystem.dsSystem.ttSystem}}
</div>  