<table>
    <thead>
        <th>Source Path</th><th>File Name</th><th>Type</th><th>Line</th><th>Info</th>
    </thead>
    {{#response.dsDbFieldDetailDto.dsDbFieldDetailDto.ttDbFieldDetailDto}}
    <tr>
        <td>{{sourcePath}}</td>
        <td>{{fileName}}</td>
        <td>{{type}}</td>
        <td>{{line}}</td>
        <td>{{information}}</td>
    </tr>
    {{/response.dsDbFieldDetailDto.dsDbFieldDetailDto.ttDbFieldDetailDto}}
</table>