<div class="card">
    <div class="table-responsive">
        <table class="table-bordered table-striped">
    <thead>
        <th>Source Path</th><th>File Name</th><th>Type</th><th>Line</th><th>Info</th>
    </thead>
    {{#response.dsDbFieldDetailDto.dsDbFieldDetailDto.ttDbFieldDetailDto}}
    <tr>
        <td>{{sourcePath}}</td>
        <td>{{fileName}}</td>
        <td>{{type}}</td>
        <td>{{line}}</td>
        <td>{{info}}</td>
    </tr>
    {{/response.dsDbFieldDetailDto.dsDbFieldDetailDto.ttDbFieldDetailDto}}
</table>
</div>
</div>