<h3>File usage report</h3>

{{#response.dsFileDto.dsFileDto.ttFileDto}}
<div class="showLine" 
     id="line{{math @index "+" 1}}"
     title="Click for details" value={{compileUnit}} tableNum="#tableHolder{{math @index "+" 1}}">
    <span>{{math @index "+" 1}}. {{compileUnit}} </span>
    <br>
    <div class="table-holder table-select" id="tableHolder{{math @index "+" 1}}">
        {{> fileDetailedReport}}
        <br>
    </div>
</div>
{{/response.dsFileDto.dsFileDto.ttFileDto}}

