{{#response.dsFile.dsFile.ttFile}}
<tr>
    <td>{{sourcePath}}</td>
    <td>{{fileName}}</td>
    <td>{{type}}</td>
    <td>{{line}}</td>
    <td>{{info}}</td>
</tr>
{{/response.dsFile.dsFile.ttFile}}
